{% extends 'base.html' %}

{% block content %}

<h1>View the Horses </h1>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2017/12/10/15/16/white-horse-3010129__340.jpg" alt="">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2020/02/13/23/12/horse-4847088__340.jpg" alt="">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2015/10/25/23/34/horse-1006523__340.jpg" alt="Mare">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2018/08/17/01/14/horse-3611921__340.jpg" alt="">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2016/01/19/17/55/horses-1149974__340.jpg" alt="">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2018/10/14/20/16/horses-3747374__340.jpg" alt="Kissing horses">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2017/07/14/18/57/horse-2504676__340.jpg" alt="Mare/Foal">
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><h3>Horse</h3></span>
    <img src="https://cdn.pixabay.com/photo/2016/04/15/10/37/horse-1330704__340.jpg" alt="Iceland Horses">
  </div>
</div>

{% endblock %}