{% extends 'base.html' %}
{% block content %}

  <h1>About the Horse Collector</h1>
  <hr />
  <p>Hire the Horse Collector!</p>

  <div>
    <img src="https://www.thebalancecareers.com/thmb/_k9g_AbMgHwiL_VUwwHobhnvk-M=/950x0/filters:max_bytes(150000):strip_icc():format(webp)/GettyImages-452802655-57853b845f9b5831b5ffd6ef.jpg" alt="">
  </div>

  <div>
    <h3>
      <a href="https://www.thebalancecareers.com/horse-breeder-125877">
        Read About Horse Breeders
      </a>
    </h3>
    <p>
      Horse breeders tend to specialize by focusing on the 
      production of a single breed that interests them. 
      Thoroughbreds, Arabians, and American Quarter Horses 
      tend to be the most popular choices for breeding operations, 
      though Warmbloods are becoming increasingly popular. 
      Some breeders also specialize in producing and marketing 
      horses for a specific purpose, such one intended for racing 
      or show jumping.
    </p>
  </div>

{% endblock %}