* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

body > main > h1, span.card-title {
  color: rgb(242, 94, 104) !important;
  text-shadow: 1px 1px 1px black !important;
}

img {
  width: 100%;
  border: 1px solid rgb(242, 94, 104);
}